body, html{
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.general-hundred-vh{
  height: 100vh;
  width: 100vw;
}
.general-full-height{
  height: 100vh;
}
.general-full-width{
  width: 100%;
}
