<div id="contact" class="contact general-dark">
  <div class="grid-x">
    <div class="cell medium-5 ">
      <h1><span class="general-color">Contact Info</span></h1>
      <p>If you have any feedback on SHARSEE or questions about our company, please do not hesitate to reach out.</p>
      <p>We receive a lot of emails, but will do our best to get back to you as quickly as possible!</p>
      <p>[] +52(639)474-1096</p>
      <p>[] +52(639)474-1096</p>
      <p>[] +52(639)474-1096</p>
      <p>Also if you want to work with us send us your information, don't be shy.</p>
    </div>
    <div class="cell medium-2">
    </div>
    <div class="cell medium-5">
      <h1><span class="general-color">Contact Us</span></h1>
      <p>Hey stranger, I'm dying to get to know you better!</p>
      <form id="contact-form">
        <label>
          Your Name
          <input id="inputName" type="text" placeholder="John Doe">
        </label>
        <label>
          Email Address
          <input id="inputEmail" type="text" placeholder="john@doe.com">
        </label>
        <label>
          Message
          <textarea id="inputMessage"></textarea>
        </label>
        <button class="button">ENVIAR</button>
      </form>
    </div>
  </div>
</div>
