<div id="contact" class="contact general-dark">
  <div class="grid-x">
    <div class="cell medium-5 ">
      <h1><span class="general-color">Contact Info</span></h1>
      <p>If you have any questions or need more info about our company, please do not hesitate to reach out.</p>
      <p>We receive a lot of emails, but will do our best to get back to you as quickly as possible!</p>
      <div class="grid-x contact-data">
        <div class="cell small-2">
          <p class="text-center"><i class="fa fa-phone"></i></p>
        </div>
        <div class="cell small-10">
          <p class="text-left">+52(639)474-1096</p>
        </div>
        <div class="cell small-2">
          <p class="text-center"><i class="fa fa-map-marker"></i></p>
        </div>
        <div class="cell small-10">
          <p class="text-left">Chihuahua, Mex.</p>
        </div>
        <div class="cell small-2">
          <p class="text-center"><i class="fa fa-envelope"></i></p>
        </div>
        <div class="cell small-10">
          <p class="text-left">info@runusapecan.com</p>
        </div>
      </div>
      <p>Also if you want to work with us send us your information, don't be shy.</p>
    </div>
    <div class="cell medium-2">
    </div>
    <div class="cell medium-5">
      <h1><span class="general-color">Contact Us</span></h1>
      <p>We'll be glad to be in contact with you!</p>
      <form id="contact-form">
        <label>
          Your Name
          <input id="inputName" type="text" placeholder="John Doe">
        </label>
        <label>
          Email Address
          <input id="inputEmail" type="text" placeholder="john@doe.com">
        </label>
        <label>
          Message
          <textarea id="inputMessage"></textarea>
        </label>
        <button class="button">ENVIAR</button>
      </form>
    </div>
  </div>
</div>
