<div class="second">
  <div class="grid-x">
    <div class="cell medium-4 text-center">
      <h1>WHY US?</h1>
    </div>
    <div class="cell medium-8 text-left">
      <p class="lead">
        As one of the core design principles, typography can really make or break a website design
      </p>
      <p>
        Golden has spent nearly three decades in the field delivering quality peanuts from farms to families. Working with growers, manufacturers and others in the global peanut supply chain, Golden shows the best way to develop, transport and process peanuts and peanut ingredients in new, industry-leading ways.
      </p>
    </div>
  </div>
  <div class="grid-x second-benefits">
    <div class="cell medium-6">
      <img src="../assets/img/x.png"></img>
    </div>
    <div class="cell medium-6">
      <form>
        <input type="text" value="EASY COSTUMIZATION">
        <input type="text" value="EASY COSTUMIZATION">
        <input type="text" value="EASY COSTUMIZATION">
        <input type="text" value="EASY COSTUMIZATION">
        <input type="text" value="EASY COSTUMIZATION">
      </form>
    </div>
  </div>
</div>
