<div id="second" class="second">
  <div class="grid-x">
    <div class="cell medium-4 text-center">
      <br><br>
      <h1><span class="general-color">WHY US?</span></h1>
    </div>
    <div class="cell medium-8 text-left">
      <p class="lead">
        <h4>
          <strong>Experience, Quality & Integrity.</strong>
        </h4>
      </p>
      <p>
        Runusa has spent nearly three decades in the field delivering quality peanuts from farms to families. Working with growers, manufacturers and others in the global peanut supply chain, Runusa shows the best way to develop, transport and process peanuts and peanut ingredients in new, industry-leading ways.
      </p>
    </div>
  </div>
  <div class="second-benefits">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-auto">
        <div class="callout text-center">
          <h1><i class="fa fa-clock-o"></i></h1>
          <h5>Experience</h5>
          <p>Our best Teacher.</p>
          <button class="button">Contat Us</button>
        </div>
      </div>
      <div class="cell medium-auto">
        <div class="callout text-center">
          <h1><i class="fa fa-star-o"></i></h1>
          <h5>Quality</h5>
          <p>What we do, we do well.</p>
          <button class="button">Contat Us</button>
        </div>
      </div>
      <div class="cell medium-auto">
        <div class="callout text-center">
          <h1><i class="fa fa-handshake-o"></i></h1>
          <h5>Integrity</h5>
          <p>Honest, ethical and genuine.</p>
          <button class="button">Contat Us</button>
        </div>
      </div>
    </div>
  </div>
</div>
