<div class="mynav">
  <div class="top-bar-container" data-sticky-container>
      <div class="general-full-width" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="responsive-menu">
          <div class="top-bar-left">
            <strong>RUNUSA</strong>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li><strong><a href="#video">Home</a></strong></li>
              <li><strong><a href="#second">About Us</a></strong></li>
              <li><strong><a href="#contact">Cotact Us</a></strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
