<div class="top-bar-container" data-sticky-container>
    <div class="mynav" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
      <div class="top-bar">
        <div class="top-bar-left">titulo</div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#chapter_01">chapter_01</a></li>
            <li><a href="#chapter_02">chapter_02</a></li>
            <li><a href="#chapter_03">chapter_03</a></li>
            <li><a href="#chapter_04">chapter_04</a></li>
            <li><a href="#chapter_05">chapter_05</a></li>
            <li><a href="#chapter_06">chapter_06</a></li>
        </div>
      </div>
    </div>
  </div>
