<div class="mynav">
  <div class="mynav-desk">
    <div class="mynav-mobile" id="mobile-menu">
      <i id="mobile-menu-button-close" class="fa fa-close fa-2x"></i>
      <div class="mynav-mobile-options">
        <a id="mobile-menu-item-1" class="" href="#intro">HOME</a><br>
        <a id="mobile-menu-item-2" class="" href="#about">ABOUT US</a><br>
        <a id="mobile-menu-item-4" class="" href="#contact">CONTACT US</a>
      </div>
   </div>
    <div class="top-bar">
      <a href="#"><img src="../assets/img/logo.jpg" alt="Locki"/></a>
      <div class="mynav-menu">
        <ul class="menu">
          <li><a href="#intro">HOME</a></li>
          <li><a href="#about">ABOUT US</a></li>
          <li><a href="#contact">CONTACT US</a></li>
        </ul>
      </div>
      <i id="mobile-menu-button" class="fa fa-bars fa-2x"></i>
    </div>
  </div>
</div>
