
<div id="videoBg" class="videoBg">
  <video poster="../assets/img/poster.jpg" autoplay="true" loop muted>
    <source src="../assets/img/video.mp4" type="video/mp4">
    <source src="../assets/img/video.webm" type="video/webm">
  </video>
  <div class=" grid-container">
    <div class="videoBg-container grid-x">
      <div class="videoBg-header cell medium-10 large-8">
        <h1><strong><span class="general-color">RUNUSA</span> PECAN COMPANY</strong></h1>
        <hr>
        <h6>THE PRIMARY SUPPLIERS OF INSHELL PECANS TO NATIONAL AND INTERNATIONAL CUSTOMERS</h6>
      </div>
    </div>
  </div>
</div>
