
<div id="video" class="first">
  <video poster="../assets/img/poster.jpg" autoplay="true" loop muted>
    <source src="../assets/img/video.mp4" type="video/mp4">
    <source src="../assets/img/video.webm" type="video/webm">
  </video>
  <div class=" grid-container">
    <div class="first-container grid-x">
      <div class="first-header cell medium-10 large-8">
        <h1><strong><span class="general-color">RUNUSA</span> PECAN COMPANY</strong></h1>
        <hr>
        <h5>"The Primary Suppliers Of Inshell Pecans To National And International Customers"</h5>
      </div>
    </div>
  </div>
</div>
